.find-us {
  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }
  .container {
    // margin: 0;
    // padding: 10px 20px 0;
    // width: 100%;
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row-reverse;
    }
    .map-container {
      .map_frame {
        width: 100%;
        min-height: 232px;

        @media screen and (min-width: 1200px) {
          margin: 5px 5px;
          border-radius: 32px;
        }
      }
      @media screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-left: 32px;
        width: 510px;
      }
      @media screen and (min-width: 1440px) {
        margin-right: 30px;
        margin-left: 32px;
        width: 605px;
      }
    }
    .form-container {
      border-radius: 32px;
      background: url(./../images/form_bg.png);
      background-repeat: no-repeat;
      background-color: #011c44;
      margin-bottom: 24px;
      padding: 42px 24px;
      @media screen and (min-width: 1200px) {
        padding: 48px 56px;
        margin-bottom: 0;
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .find-us__form-wraper {
          display: flex;
          flex-direction: column;
        }
        h3 {
          font-size: 22px;
          font-weight: 600;
          color: $white-color;
          margin-bottom: 32px;
          max-width: 274px;
          text-align: center;
          span {
            color: $accent-color;
          }
        }
        input {
          color: $white-color;
          width: 240px;
          height: 52px;
          border-radius: 32px;
          border: 2px solid #747272;
          background: transparent;
          padding: 18px 32px;
          margin-bottom: 16px;
          @media screen and (min-width: 1200px) {
            width: 310px;
          }
        }
        label {
          display: none;
        }
      }

      .form__btn-submit {
        width: 241px;
        // width: 281px;
        height: 53px;
        border-radius: 32px;
        margin-bottom: 8px;
        border: 1px solid $button-background-color;
        background-color: $button-background-color;
        color: $button-text-color;
        &:hover {
          background-color: $primary-background-color;
          color: $secondary-text-color;
        }
      }
      .copyrights {
        color: $grey-color;
        font-size: 12px;
        line-height: 1.5;
        max-width: 213px;
        text-align: center;
        a {
          color: $grey-color;
          text-decoration: underline;
        }
      }
    }
  }
}
