header {
  width: 100%;
  padding: 16px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 768px) {
    background: rgba(255, 255, 255, 0.25);
  }
  // padding: 32px 0;
  // backdrop-filter: blur(10px);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      @media screen and (min-width: 768px) {
        margin-right: 25px;
      }
      // margin-right: 240px;
      .logo-container__link {
        .icon {
          fill: $accent-color;
        }
      }
    }
    .mobile-menu {
      @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $white-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        // padding: 60px 0;

        &.is-open {
          display: block;
          z-index: 100;
          padding: 25px;
          .close-menu {
            position: absolute;
            top: 9%;
            right: 7%;
            fill: $accent-color;
          }
          .nav-container {
            margin-top: 32px;
            .site-nav {
              .site-nav__list {
                .site-nav__item {
                  margin-bottom: 16px;
                }
              }
            }
          }
          .socials {
            .socials__list {
              .socials__item {
                // margin-left: 16px;
              }
            }
          }
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        .icon {
          &--close {
            display: none;
          }
        }
        .logo-container {
          display: none;
        }
      }

      .nav-container {
        .site-nav {
          .site-nav__list {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
              flex-direction: row;
              justify-content: space-between;
              .site-nav__item {
                &:not(:last-child) {
                  margin-right: 30px;
                }
              }
            }

            //
          }
        }
      }
      .socials {
        .socials__list {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          // justify-content: space-between;
          .socials__item {
            &:not(:last-child) {
              margin-right: 16px;
              // margin-right: 32px;
            }
            &:hover {
              .icon {
                fill: $accent-color;
              }
            }
          }
        }
      }
    }

    .btn-menu {
      border: none;
      background-color: transparent;
      @media screen and (min-width: 768px) {
        display: none;
      }
      .icon {
        &--menu {
          display: none;
          &.is-open {
            display: block;
          }
        }
      }
      svg {
        fill: $accent-color;
      }
    }
  }
}
