.hero {
  text-align: center;
  padding-top: 75px;
  min-height: 345px;
  background-size: cover;
  background-image: url(./../images/hero_bg_mobile.png);
  background-repeat: no-repeat;
  background-position: right top;
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/hero_bg_mobile@2x.png);
  }
  @media screen and (min-width: 480px) {
    min-height: 460px;
  }
  @media screen and (min-width: 768px) {
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(./../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 610px;
    background-size: contain;
    margin-bottom: 60px;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero_bg@2x.png);
    }
  }

  .container {
    @media screen and (min-width: 768px) {
      margin: 5% auto;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
      padding-top: 40px;
      padding-left: 180px;
      margin: 0 auto;
    }
  }
  .hero__sub-title {
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
    }
  }
  .hero__title {
    margin-bottom: 32px;
    @media screen and (min-width: 1200px) {
      width: 55%;
      margin-bottom: 40px;
    }
  }

  .hero__button {
    width: 281px;
    height: 53px;
    border-radius: 32px;
    margin-bottom: 8px;
    // margin-bottom: 14px;
    border: 1px solid $button-background-color;
    background-color: $button-background-color;
    color: $button-text-color;
    &:hover {
      background-color: $primary-background-color;
      color: $secondary-text-color;
    }
  }
  .hero__text {
    font-size: 12px;
    line-height: 1.5;
    color: $dark-grey-color;
    width: 280px;
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
    text-align: center;
  }
}
