.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 31, 74, 0.4);
  opacity: 1;
  transition: opacity 250ms ease-in;
  // overflow-y: scroll;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  .modal {
    position: absolute;
    top: 50px;
    left: 50%;
    // width: 50%;
    max-width: 723px;
    border-radius: 38px;
    background-color: $white-color;
    transform: translatex(-50%) scale(1);
    transition: transform 250ms linear;
    .form-container {
      border-radius: 32px;
      background: url(./../images/form_bg.png);
      background-repeat: no-repeat;
      background-color: #011c44;
      padding: 42px 144px;
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .modal__form-wraper {
          display: flex;
          flex-direction: column;
        }
        h2 {
          color: $white-color;
          font-family: Play;
          font-size: 64px;
          line-height: 100%;
          text-align: center;
          padding-bottom: 40px;
        }
        h3 {
          font-size: 22px;
          font-weight: 600;
          color: $white-color;
          margin-bottom: 32px;
          max-width: 274px;
          text-align: center;
          span {
            color: $accent-color;
          }
        }
        input {
          color: $white-color;
          width: 310px;
          height: 52px;
          border-radius: 32px;
          border: 2px solid #747272;
          background: transparent;
          padding: 18px 32px;
          margin-bottom: 24px;
        }
        label {
          display: none;
        }
      }
      .form__btn-submit {
        width: 281px;
        height: 53px;
        border-radius: 32px;
        margin-bottom: 8px;
        border: 1px solid $button-background-color;
        background-color: $button-background-color;
        color: $button-text-color;
        &:hover {
          background-color: $primary-background-color;
          color: $secondary-text-color;
        }
      }
      .copyrights {
        color: $grey-color;
        font-size: 12px;
        line-height: 1.5;
        max-width: 213px;
        text-align: center;
        a {
          color: $grey-color;
          text-decoration: underline;
        }
      }
    }
    .close_modal {
      position: absolute;
      top: 3%;
      right: 3%;
      button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        .close_btn {
          fill: $white-color;
          &:hover {
            fill: $accent-color;
          }
        }
      }
    }
  }
}
